body {
margin: 0;
}

video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;

	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);
	z-index: -1;

}


.buttons {
	opacity: 0.5;
    filter: alpha(opacity=50);
	 font-family:Enter The Grid;
	color:#00ffff;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
     font-size: 500%;
}

.buttons:hover {
	opacity: 1;
	color: white;
	text-shadow: 0 0 20px white;
}

@font-face {
     font-family:Enter The Grid;
    src:url(fonts/Enter-The-Grid.ttf);
}


@font-face {
     font-family:slant;
    src:url(fonts/SLANT.ttf);
}

@font-face {
     font-family:LL_Record;
    src:url(fonts/LL_RECOR.ttf);
}



.play {
	 font-family:slant;
	color: yellow;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
     font-size: 800%;


}

.play:hover {
	text-shadow: 0 0 20px yellow;
}

.fondo {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
p {
	font-family: Century Gothic;
	color:white;
}

.music {
	 font-family:LL_Record;
	color:white;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
     font-size: 400%;
}

.music:hover {
	opacity: 1;
	color: white;
	text-shadow: 0 0 20px white;
}